.boardArticle table {width:840px}

.boardArticle th {padding:5px 0;border-top:2px solid #666;border-bottom:1px solid #666}

.boardArticle td {padding:10px 0;border-bottom:1px solid #666}
.boardArticle .no {width:100px;text-align:center}
.boardArticle .get {width:100px;text-align:center}
.boardArticle .get_percent {width:100px;text-align:center}